
@{
    ViewData["Title"] = "AddDisciplinePenalty";
}

@using HrPayroll.Areas.Admin.Models
@model DisciplinePenalty
<div class="page-wrapper">
    <!-- content -->
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-7 col-md-12 col-sm-12 col-12">
                    <h5 class="text-uppercase"></h5>
                </div>
            </div>
        </div>
        <div class="page-content">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="card">
                        <div class="page-title">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="page-title"><a style="color:chocolate; cursor:pointer;"></a> Add Discipline Penalty </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <form class="row" method="post">
                                        <div asp-validation-summary="ModelOnly"></div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                            <div class="form-group custom-mt-form-group">
                                                <input type="number" name="UniversityName" asp-for="PenaltyValue" />
                                                <label class="control-label" asp-for="PenaltyValue">Penalty</label><i class="bar"></i>
                                                <span asp-validation-for="PenaltyValue"></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                            <div class="form-group custom-mt-form-group">
                                                <input asp-for="MinDay" type="number">
                                                <label class="control-label" asp-for="MinDay">Start Date</label><i class="bar"></i>
                                                <span asp-validation-for="MinDay"></span>
                                            </div>
                                            <div class="form-group custom-mt-form-group">
                                                <input asp-for="MaxDay" type="number">
                                                <label class="control-label" asp-for="MaxDay">End Date</label><i class="bar"></i>
                                                <span asp-validation-for="MaxDay"></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                            <div class="form-group text-center custom-mt-form-group">
                                                <button class="btn btn-primary mr-2" type="submit">Save</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <table class="table table-striped" style="color: orange; width: 70%; margin: auto;">
                            <thead>
                                <tr>
                                    <th>Penalty</th>
                                    <th>Min Day</th>
                                    <th>Nax Day</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody id="del_hol">
                                @if ((List<DisciplinePenalty>)ViewBag.Penalty != null)
                                {
                                    foreach (var elm in (List<DisciplinePenalty>)ViewBag.Penalty)
                                    {
                                <tr>
                                    <td class="name">@elm.PenaltyValue</td>
                                    <td class="name">@elm.MinDay</td>
                                    <td class="name">@elm.MaxDay</td>
                                    <td>
                                        <div class="dropdown dropdown-action">
                                            <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item delete" asp-controller="Panel" asp-area="Admin" asp-action="DeleteDiscipline" asp-route-id="@elm.Id" title="Del"><i class="fa fa-trash-o m-r-5"></i>Del</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





