@{
    ViewData["Title"] = "EditEducationEmployee";
}

@using HrPayroll.Areas.Admin.EmployeeModel
@model Education
<div class="page-wrapper">
    <!-- content -->
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-7 col-md-12 col-sm-12 col-12">
                    <h5 class="text-uppercase"></h5>
                </div>
            </div>
        </div>
        <div class="page-content">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="card">
                        <div class="page-title">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                    @if (Context.Session.GetObjectFromJson<Employee>("Employ") != null)
                                    {
                                        var data = Context.Session.GetObjectFromJson<Employee>("Employ");
                                        <div class="page-title"><a style="color:chocolate; cursor:pointer;">@data.Name  @data.Surname</a> Edit Education </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <form class="row" method="post">
                                        <div asp-validation-summary="ModelOnly"></div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                            <div class="form-group custom-mt-form-group">
                                                <input type="text" name="UniversityName" asp-for="UniversityName" />
                                                <label class="control-label" asp-for="UniversityName">University Name</label><i class="bar"></i>
                                                <span asp-validation-for="UniversityName"></span>
                                            </div>
                                            <div class="form-group custom-mt-form-group">
                                                <input type="text" asp-for="UniversityFaculty" name="UniversityFaculty">
                                                <label class="control-label" asp-for="UniversityFaculty">University Faculty</label><i class="bar"></i>
                                                <span asp-validation-for="UniversityFaculty"></span>
                                            </div>
                                            <div class="form-group">
                                                <textarea id="message" class="form__field" rows="4" asp-for="Status" name="Status"></textarea>
                                                <label for="message" class="form-label" asp-for="Status">Status</label>
                                                <span asp-validation-for="Status"></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                            <div class="form-group custom-mt-form-group">
                                                <input asp-for="StartDate" name="StartDate" type="date">
                                                <label class="control-label" asp-for="StartDate">Start Date</label><i class="bar"></i>
                                                <span asp-validation-for="StartDate"></span>
                                            </div>
                                            <div class="form-group custom-mt-form-group">
                                                <input asp-for="EndDate" name="EndDate" type="date">
                                                <label class="control-label" asp-for="EndDate">End Date</label><i class="bar"></i>
                                                <span asp-validation-for="EndDate"></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                            <div class="form-group text-center custom-mt-form-group">
                                                <button class="btn btn-primary mr-2" type="submit">Save</button>
                                                <button class="btn btn-secondary" type="reset">Cancel</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

