
@{
    ViewData["Title"] = "ChangePass";
}

<div class="account-page">
    <div class="container">
        <h3 class="account-title text-white">Forgot Password</h3>
        <div class="account-box">
            <div class="account-wrapper">
                <div class="account-logo">
                    <h4 class="account-title text-white" style="color: aqua !important;">HrPayroll</h4>
                </div>
                <form>
                    <div class="form-group custom-mt-form-group">
                        <input type="text" />
                        <label class="control-label">Username or Email</label><i class="bar"></i>
                    </div>
                    <div class="form-group text-center custom-mt-form-group">
                        <button class="btn btn-primary btn-block account-btn" type="submit">Reset Password</button>
                    </div>
                    <div class="text-center">
                        <a asp-controller="Account" asp-action="Login">Back to Login</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

