<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HrPayroll</title>
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="main-wrapper">
        @RenderBody()
    </div>
    <script src="~/js/bootstrap.min.js"></script>
</body>
</html>
