@{
    ViewData["Title"] = "AddEndPosition";
}

@using HrPayroll.Areas.Admin.Models
@model WorkEndDate
<div class="page-wrapper">
    <!-- content -->
    <div class="content container-fluid">
        <div class="page-content">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="card">
                        <div class="page-title">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                    @if (Context.Session.GetObjectFromJson<Employee>("Employ") != null)
                                    {
                                        var data = Context.Session.GetObjectFromJson<Employee>("Employ");
                                        <div class="Page-title"><a asp-controller="Employee" asp-area="Admin" asp-action="AboutEmployee" asp-route-page="@data.Id" style="font-weight:bold">@data.Name @data.Surname</a> new Workplace</div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="">
                                <form class="row" method="post">
                                    <div asp-validation-summary="ModelOnly"></div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                        <div class="form-group custom-mt-form-group">
                                            <input type="date" asp-for="EndDate" />
                                            <span asp-validation-for="EndDate"></span>
                                            <label class="control-label">End Date</label><i class="bar"></i>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="form-group text-center custom-mt-form-group">
                                            <button class="btn btn-primary mr-2" type="submit">Save</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

