@{
    ViewData["Title"] = "Attandance";
    var dateDay = DateTime.DaysInMonth(DateTime.Now.Year,DateTime.Now.Month);
}


<div class="page-wrapper">
    <!-- content -->
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-7 col-md-12 col-sm-12 col-12">
                    <h5 class="text-uppercase">attendance sheet</h5>
                </div>
            </div>
        </div>
        <div class="content-page">
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="form-group custom-mt-form-group">
                        <input type="text" />
                        <label class="control-label">Employee name</label><i class="bar"></i>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="form-group custom-mt-form-group">
                        <select>
                            <option>-</option>
                            <option>Jan</option>
                            <option>Feb</option>
                            <option>Mar</option>
                            <option>Apr</option>
                            <option>May</option>
                            <option>Jun</option>
                            <option>Jul</option>
                            <option>Aug</option>
                            <option>Sep</option>
                            <option>Oct</option>
                            <option>Nov</option>
                            <option>Dec</option>
                        </select>
                        <label class="control-label">Select Month</label><i class="bar"></i>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="form-group custom-mt-form-group">
                        <select>
                            <option>-</option>
                            <option>2019</option>
                            <option>2018</option>
                            <option>2018</option>
                            <option>2016</option>
                            <option>2015</option>
                        </select>
                        <label class="control-label">Select Year</label><i class="bar"></i>
                    </div>

                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="form-group custom-mt-form-group">
                        <a href="#" class="btn btn-success btn-block"> Search </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-responsive">
                        <table class="table table-striped custom-table m-b-0">
                            <thead>
                                <tr>
                                    <th>Employee</th>
                                    @for (var i = 1; i < dateDay; i++)
                                    {
                                        <th>@i</th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Ruth C. Gault</td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td>
                                        <div class="half-day"><span class="First-off"><i class="fa fa-check text-success"></i></span> <span class="First-off"><i class="fa fa-close text-danger"></i></span></div>
                                    </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td>
                                        <div class="half-day"><span class="First-off"><i class="fa fa-close text-danger"></i></span> <span class="First-off"><i class="fa fa-check text-success"></i></span></div>
                                    </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                </tr>
                                <tr>
                                    <td>Richard Miles</td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                </tr>
                                <tr>
                                    <td>John Smith</td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                </tr>
                                <tr>
                                    <td>Mike Litorus</td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                </tr>
                                <tr>
                                    <td>Wilmer Deluna</td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                </tr>
                                <tr>
                                    <td>Jeffrey Warden</td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                </tr>
                                <tr>
                                    <td>Bernardo Galaviz</td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                </tr>
                                <tr>
                                    <td>Lesley Grauer</td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                </tr>
                                <tr>
                                    <td>Jeffery Lalor</td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                </tr>
                                <tr>
                                    <td>Loren Gatlin</td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                </tr>
                                <tr>
                                    <td>Tarah Shropshire</td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                </tr>
                                <tr>
                                    <td>Richard Miles</td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="notification-box">
        <div class="msg-sidebar notifications msg-noti">
            <div class="topnav-dropdown-header">
                <span>Messages</span>
            </div>
            <div class="drop-scroll msg-list-scroll">
                <ul class="list-box">
                    <li>
                        <a href="chat.html">
                            <div class="list-item">
                                <div class="list-left">
                                    <span class="avatar">R</span>
                                </div>
                                <div class="list-body">
                                    <span class="message-author">Richard Miles </span>
                                    <span class="message-time">12:28 AM</span>
                                    <div class="clearfix"></div>
                                    <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="chat.html">
                            <div class="list-item new-message">
                                <div class="list-left">
                                    <span class="avatar">J</span>
                                </div>
                                <div class="list-body">
                                    <span class="message-author">Ruth C. Gault</span>
                                    <span class="message-time">1 Aug</span>
                                    <div class="clearfix"></div>
                                    <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="chat.html">
                            <div class="list-item">
                                <div class="list-left">
                                    <span class="avatar">T</span>
                                </div>
                                <div class="list-body">
                                    <span class="message-author"> Tarah Shropshire </span>
                                    <span class="message-time">12:28 AM</span>
                                    <div class="clearfix"></div>
                                    <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="chat.html">
                            <div class="list-item">
                                <div class="list-left">
                                    <span class="avatar">M</span>
                                </div>
                                <div class="list-body">
                                    <span class="message-author">Mike Litorus</span>
                                    <span class="message-time">12:28 AM</span>
                                    <div class="clearfix"></div>
                                    <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="chat.html">
                            <div class="list-item">
                                <div class="list-left">
                                    <span class="avatar">C</span>
                                </div>
                                <div class="list-body">
                                    <span class="message-author"> Catherine Manseau </span>
                                    <span class="message-time">12:28 AM</span>
                                    <div class="clearfix"></div>
                                    <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="chat.html">
                            <div class="list-item">
                                <div class="list-left">
                                    <span class="avatar">D</span>
                                </div>
                                <div class="list-body">
                                    <span class="message-author"> Domenic Houston </span>
                                    <span class="message-time">12:28 AM</span>
                                    <div class="clearfix"></div>
                                    <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="chat.html">
                            <div class="list-item">
                                <div class="list-left">
                                    <span class="avatar">B</span>
                                </div>
                                <div class="list-body">
                                    <span class="message-author"> Buster Wigton </span>
                                    <span class="message-time">12:28 AM</span>
                                    <div class="clearfix"></div>
                                    <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="chat.html">
                            <div class="list-item">
                                <div class="list-left">
                                    <span class="avatar">R</span>
                                </div>
                                <div class="list-body">
                                    <span class="message-author"> Rolland Webber </span>
                                    <span class="message-time">12:28 AM</span>
                                    <div class="clearfix"></div>
                                    <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="chat.html">
                            <div class="list-item">
                                <div class="list-left">
                                    <span class="avatar">C</span>
                                </div>
                                <div class="list-body">
                                    <span class="message-author"> Claire Mapes </span>
                                    <span class="message-time">12:28 AM</span>
                                    <div class="clearfix"></div>
                                    <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="chat.html">
                            <div class="list-item">
                                <div class="list-left">
                                    <span class="avatar">M</span>
                                </div>
                                <div class="list-body">
                                    <span class="message-author">Melita Faucher</span>
                                    <span class="message-time">12:28 AM</span>
                                    <div class="clearfix"></div>
                                    <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="chat.html">
                            <div class="list-item">
                                <div class="list-left">
                                    <span class="avatar">J</span>
                                </div>
                                <div class="list-body">
                                    <span class="message-author">Jeffery Lalor</span>
                                    <span class="message-time">12:28 AM</span>
                                    <div class="clearfix"></div>
                                    <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="chat.html">
                            <div class="list-item">
                                <div class="list-left">
                                    <span class="avatar">L</span>
                                </div>
                                <div class="list-body">
                                    <span class="message-author">Loren Gatlin</span>
                                    <span class="message-time">12:28 AM</span>
                                    <div class="clearfix"></div>
                                    <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="chat.html">
                            <div class="list-item">
                                <div class="list-left">
                                    <span class="avatar">T</span>
                                </div>
                                <div class="list-body">
                                    <span class="message-author">Tarah Shropshire</span>
                                    <span class="message-time">12:28 AM</span>
                                    <div class="clearfix"></div>
                                    <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="topnav-dropdown-footer">
                <a href="chat.html">See all messages</a>
            </div>
        </div>
    </div>
</div>