
@{
    ViewData["Title"] = "BonusEmployee";
}
@using HrPayroll.Areas.Admin.Models
@model Bonus
<div class="page-wrapper">
    <!-- content -->
    <div class="content container-fluid">
        <div class="page-content">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="card">
                        <div class="page-title">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                    @if (Context.Session.GetObjectFromJson<Employee>("Employ") != null)
                                    {
                                        var data = Context.Session.GetObjectFromJson<Employee>("Employ");
                                        <div class="Page-title"><a href="/Admin/Employee/AboutEmployee/?page=@data.Id">@data.Name @data.Surname</a> Employee Attandance</div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="">
                                <form class="row" method="post">
                                    <div asp-validation-summary="ModelOnly"></div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                        <div class="form-group custom-mt-form-group">
                                            <span asp-validation-for="BonusDate"></span>
                                            <input type="date" asp-for="BonusDate">
                                            <label class="control-label">Bonus Date</label><i class="bar"></i>
                                        </div>
                                        <div class="form-group">
                                            <textarea id="message" class="form__field" rows="4" asp-for="BonusStatus" name="Status"></textarea>
                                            <label for="message" class="form-label" asp-for="BonusStatus">Status</label>
                                            <span asp-validation-for="BonusStatus"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                        <div class="form-group custom-mt-form-group">
                                            <span asp-validation-for="BonusPrize"></span>
                                            <input type="number" asp-for="BonusPrize" />
                                            <label class="control-label">Bonus Prize</label><i class="bar"></i>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="form-group text-center custom-mt-form-group">
                                            <button class="btn btn-primary mr-2" type="submit">Save</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



